In [125]:
import pandas as pd

# Google developer API key
#from config import gkey

# Configure gmaps
#gmaps.configure(api_key=gkey)

In [126]:
#import data from csv files
file_jobs_2006=pd.read_csv("Idea1/business_2006.csv")
file_jobs_2006.head(100)

,FIPS MSA CODE,MSA DESCRIPTION,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0-4,5-9,10-19,20-99,100-499,500+
0,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Firms,932,491,155,103,81,26,76
1,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Establishments,994,491,156,106,94,40,107
2,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Employment,"9,829",806,999,"1,342","2,490","1,709","2,483"
3,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,"Annual Payroll ($1,000)","286,576","22,928","20,984","31,933","71,014","65,542","74,175"
4,10020,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,9,7,2,0,0,0,0
5,10020,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Establishments,9,7,2,0,0,0,0
6,10020,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Employment,26,[a],[a],0,0,0,0
7,10020,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...","Annual Payroll ($1,000)",425,(D),(D),0,0,0,0
8,10020,"Abbeville, LA Micropolitan Statistical Area",21,Mining,Firms,22,9,1,3,3,0,6
9,10020,"Abbeville, LA Micropolitan Statistical Area",21,Mining,Establishments,23,9,1,3,3,0,7
10,10020,"Abbeville, LA Micropolitan Statistical Area",21,Mining,Employment,341,[a],[a],45,[b],0,190
11,10020,"Abbeville, LA Micropolitan Statistical Area",21,Mining,"Annual Payroll ($1,000)","17,551",(D),(D),"2,477",(D),0,"10,580"
12,10020,"Abbeville, LA Micropolitan Statistical Area",22,Utilities,Firms,5,1,1,0,0,1,2
13,10020,"Abbeville, LA Micropolitan Statistical Area",22,Utilities,Establishments,5,1,1,0,0,1,2
14,10020,"Abbeville, LA Micropolitan Statistical Area",22,Utilities,Employment,47,[a],[a],0,0,[b],[a]
15,10020,"Abbeville, LA Micropolitan Statistical Area",22,Utilities,"Annual Payroll ($1,000)","2,305",(D),(D),0,0,(D),(D)
16,10020,"Abbeville, LA Micropolitan Statistical Area",23,Construction,Firms,83,53,17,9,1,3,0
17,10020,"Abbeville, LA Micropolitan Statistical Area",23,Construction,Establishments,85,53,17,9,1,5,0
18,10020,"Abbeville, LA Micropolitan Statistical Area",23,Construction,Employment,"1,081",81,[c],[c],[b],[f],0
19,10020,"Abbeville, LA Micropolitan Statistical Area",23,Construction,"Annual Payroll ($1,000)","48,569","2,345",(D),(D),(D),(D),0
20,10020,"Abbeville, LA Micropolitan Statistical Area",31-33,Manufacturing,Firms,42,12,11,6,8,2,3
21,10020,"Abbeville, LA Micropolitan Statistical Area",31-33,Manufacturing,Establishments,42,12,11,6,8,2,3
22,10020,"Abbeville, LA Micropolitan Statistical Area",31-33,Manufacturing,Employment,955,[a],[b],[b],[e],[b],[e]
23,10020,"Abbeville, LA Micropolitan Statistical Area",31-33,Manufacturing,"Annual Payroll ($1,000)","36,367",(D),(D),(D),(D),(D),(D)
24,10020,"Abbeville, LA Micropolitan Statistical Area",42,Wholesale Trade,Firms,45,16,5,10,7,2,5
25,10020,"Abbeville, LA Micropolitan Statistical Area",42,Wholesale Trade,Establishments,47,16,5,10,7,2,7
26,10020,"Abbeville, LA Micropolitan Statistical Area",42,Wholesale Trade,Employment,500,17,[b],123,184,[a],[c]
27,10020,"Abbeville, LA Micropolitan Statistical Area",42,Wholesale Trade,"Annual Payroll ($1,000)","19,070",836,(D),"4,051","6,822",(D),(D)
28,10020,"Abbeville, LA Micropolitan Statistical Area",44-45,Retail Trade,Firms,177,82,25,24,17,6,23
29,10020,"Abbeville, LA Micropolitan Statistical Area",44-45,Retail Trade,Establishments,193,82,25,26,18,9,33
...,...,...,...,...,...,...,...,...,...,...,...,...
70,10020,"Abbeville, LA Micropolitan Statistical Area",71,"Arts, Entertainment, and Recreation",Employment,77,[b],0,[a],[b],0,[a]
71,10020,"Abbeville, LA Micropolitan Statistical Area",71,"Arts, Entertainment, and Recreation","Annual Payroll ($1,000)",695,(D),0,(D),(D),0,(D)
72,10020,"Abbeville, LA Micropolitan Statistical Area",72,Accommodation and Food Services,Firms,61,20,11,12,10,2,6
73,10020,"Abbeville, LA Micropolitan Statistical Area",72,Accommodation and Food Services,Establishments,63,20,11,12,10,2,8
74,10020,"Abbeville, LA Micropolitan Statistical Area",72,Accommodation and Food Services,Employment,918,26,75,[c],297,[b],[e]
75,10020,"Abbeville, LA Micropolitan Statistical Area",72,Accommodation and Food Services,"Annual Payroll ($1,000)","8,374",749,745,(D),"2,625",(D),(D)
76,10020,"Abbeville, LA Micropolitan Statistical Area",81,Other Services (except Public Administration),Firms,81,51,19,8,2,0,1
77,10020,"Abbeville, LA Micropolitan Statistical Area",81,Other Services (except Public Administration),Establishments,81,51,19,8,2,0,1
78,10020,"Abbeville, LA Micropolitan Statistical Area",81,Other Services (except Public Administration),Employment,382,[c],128,[b],[b],0,[a]
79,10020,"Abbeville, LA Micropolitan Statistical Area",81,Other Services (except Public Administration),"Annual Payroll ($1,000)","6,863",(D),"2,217",(D),(D),0,(D)
80,10020,"Abbeville, LA Micropolitan Statistical Area",99,Unclassified,Firms,5,5,0,0,0,0,0
81,10020,"Abbeville, LA Micropolitan Statistical Area",99,Unclassified,Establishments,5,5,0,0,0,0,0
82,10020,"Abbeville, LA Micropolitan Statistical Area",99,Unclassified,Employment,5,5,0,0,0,0,0
83,10020,"Abbeville, LA Micropolitan Statistical Area",99,Unclassified,"Annual Payroll ($1,000)",62,62,0,0,0,0,0
84,10100,"Aberdeen, SD Micropolitan Statistical Area",--,Total,Firms,"1,384",703,246,145,122,57,111
85,10100,"Aberdeen, SD Micropolitan Statistical Area",--,Total,Establishments,"1,468",703,248,146,148,79,144
86,10100,"Aberdeen, SD Micropolitan Statistical Area",--,Total,Employment,"18,005","1,167","1,619","1,908","3,984","2,934","6,393"
87,10100,"Aberdeen, SD Micropolitan Statistical Area",--,Total,"Annual Payroll ($1,000)","490,366","35,266","34,665","47,994","98,960","79,397","194,084"
88,10100,"Aberdeen, SD Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,7,6,1,0,0,0,0
89,10100,"Aberdeen, SD Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Establishments,7,6,1,0,0,0,0
90,10100,"Aberdeen, SD Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Employment,[a],[a],[a],0,0,0,0
91,10100,"Aberdeen, SD Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...","Annual Payroll ($1,000)",(D),(D),(D),0,0,0,0
92,10100,"Aberdeen, SD Micropolitan Statistical Area",21,Mining,Firms,2,1,0,0,1,0,0
93,10100,"Aberdeen, SD Micropolitan Statistical Area",21,Mining,Establishments,2,1,0,0,1,0,0
94,10100,"Aberdeen, SD Micropolitan Statistical Area",21,Mining,Employment,[b],[a],0,0,[b],0,0
95,10100,"Aberdeen, SD Micropolitan Statistical Area",21,Mining,"Annual Payroll ($1,000)",(D),(D),0,0,(D),0,0
96,10100,"Aberdeen, SD Micropolitan Statistical Area",22,Utilities,Firms,7,0,0,1,2,1,3
97,10100,"Aberdeen, SD Micropolitan Statistical Area",22,Utilities,Establishments,9,0,0,1,2,1,5
98,10100,"Aberdeen, SD Micropolitan Statistical Area",22,Utilities,Employment,[c],0,0,[a],[b],[a],[b]
99,10100,"Aberdeen, SD Micropolitan Statistical Area",22,Utilities,"Annual Payroll ($1,000)",(D),0,0,(D),(D),(D),(D)

In [127]:
file_jobs_2006_clean=file_jobs_2006.rename(columns={'MSA DESCRIPTION': 'Metro Area',
                                                   'CODE': 'NAICS',
                                                   'NAICS DESCRIPTION': 'Industry',
                                                   'DATA TYPE': 'Filter',#total for years after 2013
                                                   'TOTAL': 'Total',
                                                   })
file_jobs_2006_clean.head()

,FIPS MSA CODE,Metro Area,NAICS,Industry,Filter,Total,0-4,5-9,10-19,20-99,100-499,500+
0,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Firms,932,491,155,103,81,26,76
1,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Establishments,994,491,156,106,94,40,107
2,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Employment,"9,829",806,999,"1,342","2,490","1,709","2,483"
3,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,"Annual Payroll ($1,000)","286,576","22,928","20,984","31,933","71,014","65,542","74,175"
4,10020,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,9,7,2,0,0,0,0

In [128]:
jobs_2006=file_jobs_2006_clean[['Metro Area', 'NAICS', 'Industry', 'Filter', 'Total']]
jobs_2006.head()

,Metro Area,NAICS,Industry,Filter,Total
0,"Abbeville, LA Micropolitan Statistical Area",--,Total,Firms,932
1,"Abbeville, LA Micropolitan Statistical Area",--,Total,Establishments,994
2,"Abbeville, LA Micropolitan Statistical Area",--,Total,Employment,"9,829"
3,"Abbeville, LA Micropolitan Statistical Area",--,Total,"Annual Payroll ($1,000)","286,576"
4,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,9

In [129]:
jobs_2006['Industry'].unique()

array(['Total', 'Forestry, Fishing, Hunting, and Agriculture Support',
       'Mining', 'Utilities', 'Construction', 'Manufacturing',
       'Wholesale Trade', 'Retail Trade',
       'Transportation and Warehousing', 'Information',
       'Finance and Insurance', 'Real Estate and Rental and Leasing',
       'Professional, Scientific, and Technical Services',
       'Management of Companies and Enterprises',
       'Administrative and Support and Waste Management and Remediation Services',
       'Educational Services', 'Health Care and Social Assistance',
       'Arts, Entertainment, and Recreation',
       'Accommodation and Food Services',
       'Other Services (except Public Administration)', 'Unclassified'],
      dtype=object)

In [135]:
cities=['San Francisco-Oakland-Fremont, CA Metropolitan Statistical Area',
       #'Houston-Baytown-Sugar Land, TX Metropolitan Statistical Area',
       'Austin-Round Rock, TX Metropolitan Statistical Area',
       'Detroit-Warren-Livonia, MI Metropolitan Statistical Area',
       'Chicago-Naperville-Joliet, IL-IN-WI Metropolitan Statistical Area',
       'Boston-Cambridge-Quincy, MA-NH Metropolitan Statistical Area',
       'New York-Newark-Edison, NY-NJ-PA Metropolitan Statistical Area']

industries=['Mining', 
            'Manufacturing', 
            'Information', 
            'Finance and Insurance', 
            'Professional, Scientific, and Technical Services']
            
filters=['Establishments', 'Employment', 'Annual Payroll ($1,000)']

In [136]:
jobs_2006_cities=jobs_2006[jobs_2006['Metro Area'].isin(cities)]
jobs_2006_ind=jobs_2006_cities[jobs_2006_cities['Industry'].isin(industries)]
jobs_2006_filtered=jobs_2006_ind[jobs_2006_ind['Filter'].isin(filters)]
jobs_2006_filtered.to_csv('jobs_2006.csv')
jobs_2006_filtered.head()

,Metro Area,NAICS,Industry,Filter,Total
4661,"Austin-Round Rock, TX Metropolitan Statistical...",21,Mining,Establishments,168
4662,"Austin-Round Rock, TX Metropolitan Statistical...",21,Mining,Employment,"1,439"
4663,"Austin-Round Rock, TX Metropolitan Statistical...",21,Mining,"Annual Payroll ($1,000)","70,819"
4673,"Austin-Round Rock, TX Metropolitan Statistical...",31-33,Manufacturing,Establishments,"1,202"
4674,"Austin-Round Rock, TX Metropolitan Statistical...",31-33,Manufacturing,Employment,"50,637"